/* Tabs wrapper */
.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 15px 40px;
  max-width: 100%;
  width: 100%;
  background: transparent !important;
}

/* Brand (Tesseract logo/text) */
.brand {
  font-family: "D-DIN Condensed", "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;        /* was 40px */
  font-weight: bold;
  color: #fff;
  letter-spacing: 3px;    /* was 5px */
  text-transform: uppercase;
  margin-left: 0.2px;
}

/* Tab buttons container */
.tab-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; /* keep buttons centered */
  max-width: 100%;
}

/* Default tab */
.tab {
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 500;       /* was 600 */
  transition: all 0.3s ease;
  font-family: "D-DIN Condensed", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;      /* was 12px 28px */      
  letter-spacing: 1px;
}

/* Hover */
.tab:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Active tab */
.active-tab {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  padding: 6px 14px;      /* match normal tab size */
  cursor: pointer;
  border-radius: 0;
  font-weight: 600;       /* bold but not too heavy */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  font-size: 14px;     /* text size */
  max-width: 200%;
}

.mission-tabs-wrapper {
  position: fixed;
<<<<<<< HEAD
  top: 0;
  width: 100%;  
=======
  top: 20;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
>>>>>>> final-pr-4
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 100;
  height: 60px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(29, 29, 29));
  padding-top: 10px;
}

.mission-tabs-wrapper.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}
